#logo{
    width: 4rem;
    height: auto;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}

#base{
    width: 98.7vw;
    grid-column: 1/9;
    grid-row: 1/9;
}

#overlay{
    grid-column: 1/9;
    grid-row: 1/9;
    background-color: navy;
    opacity:0.6; 
}

.nickfury{
    z-index: 7;
    grid-column: 2/4;
    grid-row: 3/8;
    width: 18vw;
}

#nick{
    width: 100%;
}

#texto{
    font-size: 2rem;
    color: white;
    grid-column: 5/9;
    grid-row: 4/6;
    z-index: 7;
}

.team,footer{
    background-color: navy;
    opacity: 0.8;
}
